<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBpHvRebIJVDLDNNkEOvKsT-G6BHG-2lr0</string>
	<key>GCM_SENDER_ID</key>
	<string>98708427244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.coinzp.22app</string>
	<key>PROJECT_ID</key>
	<string>coinzmasterpp22</string>
	<key>STORAGE_BUCKET</key>
	<string>coinzmasterpp22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:98708427244:ios:e578142b20a15b8e1f30c9</string>
</dict>
</plist>